<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div ng-controller="ListController"><h1>Movies: </h1>
            <ul ng-repeat="movie in movies">
                <li><b>Title:</b> {{movie.title}} 
                    <p><p/>
                    <b>Director</b>: {{movie.director}}
                    <p><p/>
                    <b>Release year </b>: {{movie.release}}
                    <p><p/>
                    <b>Description </b>: {{movie.description}}</li>

            </ul>

        </div>


    </body>
</html>
